body {
    margin: 0;
    background-color: #23252C;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;

}

.container {
    background-color: #1A1B21;
    max-width: 300px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}

.profile-photo{
    border-radius: 10px 10px 0 0;
}

a {
    text-decoration: none;
}

.site-link {
    font-weight: 400;
    color: #F5F5F5;
    font-size: x-small;
    padding-top: 1.5em;
    /* line-height: 3em; */
}

.job-title {
    color: #F3BF99;
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    text-align: center;
    line-height: 1.2em;
}

.name {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px -2px 4px white;
}

.flex {
    display: flex;
}